    <!--Footer-->
    <div class="container-fluid pt-3" id="about">
        <div class="row bg-dark text-white p-5 text-center">
          <div class="col-md-6">
            <a href="https://www.instagram.com/ale_jimenez_makeup/" 
                target="_blank" rel="noopener noreferrer">
              <i class="fab fa-instagram fa-6x"></i>
            </a>
          </div>
          <div class="col-md-6">
            <a href="https://www.facebook.com/Ale-Jim%C3%A9nez-MakeUp-Nails-334190134061693/" 
            target="_blank" rel="noopener noreferrer">
              <i class="fab fa-facebook-square fa-6x"></i>
            </a>
          </div>
        </div>
      </div>  
  
<footer class="bg-dark text-white text-center p-2">
    <p class="h5">Ale Jiménez - Estilista Profesional</p>
</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>